/* Mobile personal timetable pill */
.nav__mobile--usertimetable {
	background: linear-gradient(135deg, #8B5CF6, #C4B5FD);
	color: #ffffff;
	padding: 6px 12px;
	border-radius: 4px;
	text-align: center;
	font-size: 0.8rem;
	font-weight: bold;
	box-shadow: 0 2px 8px rgba(139, 92, 246, 0.25);
	display: inline-block;
    text-transform: uppercase;
}

/* Mobile connect with Spotify pill */
.nav__mobile--connectspotify {
	background: linear-gradient(135deg, #1DB954, #1ed760);
	color: #ffffff;
	padding: 6px 12px;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: bold;
	box-shadow: 0 2px 8px rgba(29, 185, 84, 0.25);
	display: inline-block;
}

.nav__main--usertimetable,
.nav__main--share,  
.nav__main--settings {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 32px;
    
    border: none;
    background: rgba(1, 1,1, 0.1);
    padding: 0px 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding-top: 2px;
}

.nav__main--spotify {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 16px;
    padding-left: 12px;
    border-radius: 2px;
    width: max-content;
    color: #ffffff;
    background-color: var(--purpler);

    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 400;

    font-size: 14px;
    line-height: 40px;
    border:none;
    cursor: pointer;
    pointer-events: auto;
}

.nav__main--spotify.huge {
    font-size: 16px;
    line-height: 48px;

    font-weight: 600;
}

.disabled.nav__main--spotify {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.nav__main--spotify:hover {
    background-color: var(--purple);
}

.nav__main--spotify img {
    width: 24px;
    height: 24px;
}

.mobile--turn-screen {
    display: none;
}


@media (max-width: 768px) {
    .nav__main--usertimetable, .nav__main--share, .nav__main--settings {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        line-height: 24px;
        border: none;
        background: rgba(1, 1, 1, 0.1);
        padding: 0px 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        padding-top: 2px;
    }

    .nav__main--usertimetable span, .nav__main--share span, .nav__main--settings span {
        display: none;
    }

    .timetable__nav--mobile-controls {
        display:flex;
        align-items: flex-end;
        flex-direction: column;
    }

    .mobile--turn-screen {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.05em;
        text-transform: uppercase;
       opacity: 0.4;
    }

    .nav__main--title {
        display: none;
    }
}



